body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font-family: 'Roboto', 'Open Sans', sans-serif;
}

body {
  width: 80%;
  margin: auto;
}

p {
  font-size: 0.9rem;
  color: #4c4c4e;
}

a{
  text-decoration: none;
  color: #4c4c4e;
}

b{
  color: #1e4b7a;
  font-size: 1.2rem; 
}

.indicator_class {
  display: flex;
  flex-wrap: wrap;
  align-items: top;
  justify-content: space-between;
  }
  
.sig_compare_buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  }

.sig_compare_buttons p{
  font-size: .7rem;
  text-align: center;
  }

.section_circle {
  background-color: #000000;
  color: #ffffff;
  font-size: .7rem;
  text-align: center;
  min-width: 80px;
  min-height: 80px;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
 }

.better {
  background-color: #3ECC26;
  font-size: .7rem;
  text-align: center;
  min-width: 45px;
  min-height: 45px;
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
 }
  
.worse {
  background-color: #CC2629;
  font-size: .7rem;
  color: #fff;
  text-align: center;
  min-width: 45px;
  min-height: 45px;
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
}  

.similar {
  background-color: #E7AF27;
  font-size: .7rem;
  /* color: #fff;s */
  text-align: center;
  min-width: 45px;
  min-height: 45px;
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
  }

.NA {
  background-color: #8E8E8E;
  font-size: .7rem;
  color: #fff;
  text-align: center;
  min-width: 45px;
  min-height: 45px;
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
}

.worsecompo {
  color:#3ECC26;
}